<div class="container">

    <div class="row">
        <p>
        <h3>Archivos Novedades</h3>
        <button type="button" class="btn btn-primary btn-sm"  style="position:absolute;right: 100px;"  ng-click="backToNomina(nominaLst.idNomina)"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span> Volver</button>
        Total Archivos: {{ archivosNovedades.length }}
        </p>
        <div class="col-md-12" style="margin-bottom: 40px;height: 550px">


            <table class="table">
                <thead>
                <tr>
                    <th>Id </th>
                    <th width="40%">Nombre Archivo</th>
                    <th>Estado</th>
                    <th>Fecha Carga</th>
                    <th>Fecha Procesamiento</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in archivosNovedades">
                    <td><strong>{{ item.idArchivoNovedad }}</strong></td>
                    <td><strong>{{ item.nombreArchivo }}</strong></td>
                    <td style="text-align:center">{{ item.estado }} </td>
                    <td style="text-align:center">{{ item.fechaCarga }}</td>
                    <td style="text-align:center">{{ item.fechaProceso }}</td>
                    <td style="text-align:center" nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="process(item)" ng-disabled="!item.isProcessed">
                            <span class="glyphicon glyphicon-upload"></span> Procesar
                        </button>
                        <button type="button" class="btn btn-info btn-xs" ng-click="verify(item)"  ng-disabled="!item.isValidated">
                            <span class="glyphicon glyphicon-pencil"></span> Aprobar
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="remove(item)" ng-disabled="!item.isWrong && !item.isValidated ">
                            <span class="glyphicon glyphicon-trash"></span> Remover
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNovedadesCargadas" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Novedades Cargadas {{archivo.nombreArchivo}}</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="$event.preventDefault()">
                    <div layout-gt-sm="row">
                        <div class="gridStyleEmp" ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-expandable ng-if="!refresh" ui-grid="gridNovedades" ></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="cargarValidos($event)">Cargar Validados</button>
                <!--button type="button" class="btn btn-info" ng-click="ctrl.saveAndValidate($event)">Guardar y validar</button-->
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="ctrl.generarPlano($event)">Generar Plano Errores</button>
            </div>
        </div>
    </div>
</div>