<div class="container-fluid text-left" id="empleadosForm">
	<div layout="column">
		<div flex layout="column" style="overflow: auto; height: 100%;">
		    <md-content flex layout-margin>
		    	<div class="panel-heading">
			      <h3>Modulo Seguridad Social y Parafiscales</h3>
			    </div>
			    <md-divider></md-divider>
		        <form name="entidadesForm">
		        	<div layout="row">
		        		<div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
					     <md-input-container class="md-block" flex="10">
					        <label>Id Entidad</label>
					        <input  md-no-asterisk name="idEntidad" ng-model="entidad.idEntidad" disabled>
					     </md-input-container>
					     <div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
				    	<md-input-container class="md-block" flex="25">
					        <label>Razon Social</label>
					        <input  required md-no-asterisk name="razonSocial" ng-model="entidad.razonSocial">
					        <div ng-messages="projectForm.description.$error">
					          <div ng-message="required">Este campo es requerido</div>
					        </div>
					     </md-input-container>
					     <div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
					     <md-input-container class="md-block" flex="25">
					        <label>Dirección</label>
					        <input  required md-no-asterisk name="direccion" ng-model="entidad.direccion">
					        <div ng-messages="projectForm.description.$error">
					          <div ng-message="required">Este campo es requerido</div>
					        </div>
					     </md-input-container>
					     <div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
					     <md-input-container class="md-block" flex="15">
					        <label>Teléfono</label>
					        <input  required md-no-asterisk name="telefono" ng-model="entidad.telefono">
					        <div ng-messages="projectForm.description.$error">
					          <div ng-message="required">Este campo es requerido</div>
					        </div>
					     </md-input-container>
					</div>     
					<div layout="row">
						<div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
					     <md-input-container class="md-block" flex="6">
					        <label>Codigo</label>
					        <input  required md-no-asterisk name="codigo" ng-model="entidad.codigo">
					        <div ng-messages="projectForm.description.$error">
					          <div ng-message="required">Este campo es requerido</div>
					        </div>
					     </md-input-container>
		        		<div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
				    	<md-input-container class="md-block" flex="20">
					        <label>Pagina Web</label>
					        <input  required md-no-asterisk name="paginaWeb" ng-model="entidad.paginaWeb">
					        <div ng-messages="projectForm.description.$error">
					          <div ng-message="required">Este campo es requerido</div>
					        </div>
					     </md-input-container>
					     <div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
					     <md-input-container class="md-block" flex="20">
					        <label>Correo Electronico</label>
					        <input  required md-no-asterisk name="email" ng-model="entidad.email">
					        <div ng-messages="projectForm.description.$error">
					          <div ng-message="required">Este campo es requerido</div>
					        </div>
					     </md-input-container>
					     <div flex="5" hide-xs hide-sm>
					          <!-- Spacer //-->
					     </div>
					     <md-input-container class="md-block" flex="12">
					        <label>Tipo Entidad</label>
					        <md-select name="type" ng-model="entidad.tipoEntidad" required>
				            	<md-option value="EPS">EPS</md-option>
				            	<md-option value="CCP">Caja de Compensación</md-option>
				            	<md-option value="ARL">ARL</md-option>
				            	<md-option value="FDP">Fondo de Pensiones</md-option>
				            	<md-option value="FDC">Fondo Cesantias</md-option>
				            </md-select>
					     </md-input-container>
					</div>     
					
					<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				      <md-button class="md-raised " ng-click="insertarEntidad()"><span class="glyphicon glyphicon-upload update"/> Guardar</md-button>
				      <md-button class="md-raised " ng-click="clearEntidad()"><span class="glyphicon glyphicon-remove remove"/> Limpiar Datos</md-button>
				    </section>
		     	</form>
		    </md-content>
		    <md-content flex layout-margin>
		      <div id="gridConcepto" class="panel panel-primary" >
				    
				    <div class="panel-heading">
				      <p>Listado de Entidades</p>
				    </div>
				 
				    <!-- Binds the grid component to be displayed. -->
				    <div class="gridStyleEmp" ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-expandable ng-if="!refresh" ui-grid="gridOptionsEntidades" ></div>
				    
				</div>
		    </md-content>

		</div>
	</div>
</div>
